*.py[cod]
*.so
*.exe
*.dll
doc/epydoc
src/*.ini
src/*.log
src/build
src/pypitch/_pypitch.cpp
data/library.zip
data/users/players/FoFiX-players.cache
data/songs/
data/themes/*
!data/themes/MegaLight
!data/themes/MegaLight GH3
!data/themes/MegaLight V4
!data/themes/Uberlight
